
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 130px;
}
.tittle{
    font-weight: 800;
    font-size: 50px;
}
.primary{
    color: blue;
}
.view{
    color: white;
    font-weight: bold;
    padding: 12px 36px;
    font-size: 16px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
h1{
    font-size: 65px;
    font-weight: bold;
    max-width: 905px;
}
.break{
    text-align: center;
}
.banner{
    margin: 250px 25px 0 220px;
}

.header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 700px;
    box-sizing: border-box;
    
}
.break{
    margin-right: 230px;
}
.body-i{
    margin: 0 141px 0 0;
}
.action{
    font-weight: bold;
    font-size: 42px;
}
.look{
    font-size: 24px;
}
.body-ii{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 116px 159px 0 141px ;
    
}
.wc{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.body-iii{
    font-weight: bold;
    font-size: 38px;
    width: 856px;
    height: 45px;
    margin: 0 auto;
    align-items: center;
}
.body-iv{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.body-vi{
    list-style: none;
}
.focus{
    list-style: none;
}
.sr{
    list-style: none;
}
.number{
    display: flex;
    gap: 158px;
    margin: 0 0 0 60px;
}
.value{
    background-color: rgb(182, 166, 253);
    max-width: 1140px;
    height: 190px;
    padding: 80px 50px;
    border-radius: 24px;
    margin: 135px 159px 0 141px;
    text-align: center;
}
